.footer{
    background-color: $footer_bg;
    padding: 35px 0;
    span{
            color: $white;
            font-size: 17px;
            font-weight:400;
            font-family: $robot;
    }
}