.resume{
    padding: 130px 0;
    background-color: $home_bg;
    .resume_header{
        span{
            color: $pink;
            font-size: 24px;
            font-weight: 700;
        }
    }
    .resume_wrapper{
           .container_header{
               padding: 48px 0 8px 0;
               span{
                color: $black;
                font-size: 36px;
                font-weight: 700;
               }
           }
           .resume_container{
               margin-top: 40px;
               padding: 25px 48px 11px 48px;
               background-color: #ffffff;
               box-shadow: 1px 1.732px 40px 0px rgba(0, 0, 0, 0.1);
               border-radius: 10px;
               -webkit-border-radius: 10px;
               -moz-border-radius: 10px;
               -ms-border-radius: 10px;
                -o-border-radius: 10px;
                position: relative;
                &::after{
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                height:100% ;
                width: 8px;
                background-color: $purple;
                border-top-left-radius: 35px;
                border-bottom-left-radius: 35px;
                }
                &::before{
                    position: absolute;
                    content: '';
                    top: 25px;
                    left: 0;
                    height:24px;
                    width: 40px;
                    background-color: $purple;
                    clip-path: polygon(0 0, 75% 0%, 100% 50%, 75% 100%, 0 100%, 0% 50%);
                    }

                &:hover{
                    box-shadow: 1px 1.732px 40px 0px rgba(0, 0, 0, 0.2);
                    transition: all linear .4s;
                    -webkit-transition: all linear .4s;
                    -moz-transition: all linear .4s;
                    -ms-transition: all linear .4s;
                    -o-transition: all linear .4s;

                &:hover::after{
                    background-color: $pink;
                }
                &:hover::before{
                    background-color: $pink;
                }
                &:hover h4{
                   color: $pink;
                }
                 }
           h4{
                color: $purple;
                font-size: 22px;
                font-weight: 600;
               }
               h5{
                color: $black;
                font-size: 18px;
                font-weight: 400;
                font-family: $robot;
                padding: 15px 0 10px 0;
               }
               p{
                color: $text;
                font-size: 16px;
                font-family: $robot;
                line-height: 24px;
               }
           }
    }
}