.skill{
    padding: 130px 0;
    .skill_wrapper{
    .skill_image{
        position: relative;
        img{
            box-shadow: 1px 1.732px 40px 0px rgba(0, 0, 0, 0.1);
            width: 100%;
        }
            .play{
                position: absolute;
                bottom: 10%;
                left: 50%;
                transform: translate(-50%);
                -webkit-transform: translate(-50%);
                -moz-transform: translate(-50%);
                -ms-transform: translate(-50%);
                -o-transform: translate(-50%);
             i{
                @include play;
                }
            }
        .dot{
            width: 130px;
            display: flex;
            flex-wrap: wrap;
            position: absolute;
            left: -15% ;
            bottom: -35px;
            z-index: -1;
            animation: bounce .8s infinite;
            -webkit-animation: bounce 4s infinite;
            div{
             height: 4px;
             width: 4px;
             background-color: $purple_light;
             margin: 0 7px 15px;
         }
     }
     .dot_2{
        width: 130px;
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        left: -15%;
        top: -35px;
        z-index: -1;
        animation: bounce .8s infinite;
        -webkit-animation: bounce 4s infinite;
     div{
         height: 4px;
         width: 4px;
         background-color: $purple_light;
         margin: 0 7px 15px;
     }
 }
    }
        .skill_content{
            span{
                color: $pink;
                font-size: 24px;
                font-weight: 600;
                text-transform: uppercase;
            }
            h4{
                color: $black;
                font-size: 36px;
                font-weight: 700;
                padding: 35px 0 40px 0;
            }
            p{
                color: $text;
                font-size: 16px;
                font-family: $robot;
                line-height: 24px;
               }
               .progress_wrapeer{
                   display: flex;
                   justify-content: space-between;
                   align-items: center;
                   padding: 23px 0 20px 0;
                   h6{
                       display: inline-block;
                       font-size: 18px;
                       font-family: $robot;
                       font-weight: 600;
                       color: $black;
                   }
                   a{
                    display: inline-block;
                    font-size: 18px;
                    font-family: $robot;
                    font-weight: 600;
                    color: $black;
                }
               }
               .progress {
                background: $purple_light;
                justify-content: flex-start;
                border-radius: 100px;
                align-items: center;
                position: relative;
                padding: 0 2px;
                display: flex;
                height: 17px;
                width: 100%;
                position: relative;

                .progress-value {
                    animation: load 3s normal forwards;
                    box-shadow: 0 10px 40px -10px #fff;
                    border-radius: 100px;
                    background: $purple;
                    height: 15px;
                    width: 0;
                  }
                  .value_2{
                    animation: load2 3s normal forwards;
                    -webkit-animation: load2 3s normal forwards;
}
                  .value_3{
                    animation: load3 3s normal forwards;
                    -webkit-animation: load3 3s normal forwards;
}
                .value_4{
                    animation: load4 3s normal forwards;
                    -webkit-animation: load4 3s normal forwards;
}
              }
        }
    }
}

@keyframes load{
    0% { width: 0; }
    100% { width: 90%; }
  }
  @keyframes load2{
    0% { width: 0; }
    100% { width: 95%; }
  }
  @keyframes load3{
    0% { width: 0; }
    100% { width: 85%; }
  }
  @keyframes load4{
    0% { width: 0; }
    100% { width: 80%; }
  }