$white:white;
$black:#333333;
$home_bg:#fff3fc;
$bg_gradiyent:linear-gradient(to left, #d634b3, #c935bb, #b937c3, #a73bcb, #923fd2);
$pink:#e44ac3;
$purple:#a459de;
$bg_row: linear-gradient(to left, #923fd2, #923fd2, #923fd2, #923fd2, #923fd2);
$purple_light:#eed8f6;
$robot:'Roboto', sans-serif;
$text:#6f6f6f;
$footer_bg:#333333;